<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<h1><%= @post.name %></h1>
<hr />
<p>This is the greatest text in the world</p>
<%= link_to 'View Topics', posts_path(@post) %>
<br />
<%= link_to 'Edit Comment', edit_user_comment(@comment) %>
