<% @posts.each do |p| %>
	<div class="ui card">
	  <div class="content">
	    <a class="header"><%= p.title %></a>
	    <div class="description">
	      <%= p.content %>
	    </div>
	  </div>
	  <div class="extra content">
	    
	  </div>
	</div>
<% end %>

